
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.container{
    background-color: #ffffff;
    
    
}
/* top banner */
.top-banner{
    background-color: #2D25A0;
    height: 677px;
    display: flex;
    align-items: center;
}

.banner{
    display: flex;
    align-items: center;
}

.banner-info  {
    color: #ffffff;
    margin:0px 40px 0px 150px ;
    margin-left: 100px;
}
.banner-info h1{
    font-size: 64px;
    margin: 0px;
}
.line-height{
    color: orange;
}


.live-link{
    text-decoration: none;
    border-style: none;
    color: #FFFFFF;
    background: #E02C6D;
    padding: 10px 24px;
}
.live-link:hover{
    border: 2px solid #E02C6D;
    color:#E02C6D ;
    background-color:#ffffff; 
    font-weight: 700;
    transition: 1s ease;
    
}
.banner-thumbnail{
    width: 50%;
    margin: 0px 10px 176px 60px;
    overflow: hidden;
}
.banner-thumbnail img{
    width: 556.01px;
    height: 438px;
    margin-left: 130px;
}
.banner-thumbnail:hover img{
    margin-top: 150px;
    transform:  translate(3em) rotate(30deg) scale(1.1) ;
    transition: transform 2.5s ease;
    cursor: pointer;
}

/* top-player */
.top-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 56px;
    
}
.player{
    margin-top: 70px;
    width: 330px;
    height: 474px;
    padding: 15px;
    margin: 14px 15px;
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
}
.players .player:hover  img{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 2s ease;
    
}

/* all Highlight part */

.highlight-info{
    margin-right: 66px;
    margin-left: 182px;
    margin-top: 90px;
    margin-bottom: 117px;
}
.highlight-info h1{
    font-size: 48px;
    color: #0A0826;
    
}
.highlight-info p{
    color: #6C6C6C;;
}
.highlight-thumbnail{
    margin:0px 156px 115px 0px ;
}
.highlight-thumbnail img {
    width: 567px;
    height: 427px;
}

/* footer section */
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
}

.football-logo img {
    width: 484px;
    height: 110px;

}
.social-icon img{
    width: 32px;
    height: 32px;
    padding: 7px;
}
.copyright-text{
    font-size: 18px;
    margin-bottom: 30px;
}

/* ---------------
   Media Queries
   ------------------- */

/* ---------------
    mobile-devices
    ------------------ */

    @media only screen and  (max-width: 668px) {
        /* top-banner */
        .top-banner{
            width: 100%;
            height: 600px;
            flex-direction: column; 
        }

        .banner-info h1{
            font-size: 30px;
            margin-top: 120px;
        }
        .banner-info a {
            margin-bottom: ;
        }
        .banner-thumbnail{
            overflow: visible;
        }
        .banner-thumbnail img{
            margin-top:50px ;
            width: 329px;
            height: 259.17px;
        }

        /* top-players */
        .players{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .player{
            width: 300px;
            height: 426px;
           
        }
        
        /*  highlight section*/
        .banner{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -120px;   
        }
        .highlight-info{
           margin-right: 0 ;
           padding: 15px;
           align-items: center;
        }
        .highlight-info p{
            margin-bottom: 24px;
        }
        .highlight-thumbnail img{
            width: 328px;
            height: 248px;
            margin-left: 150px;
        }
        .footer-section{
            margin-top: -60px;
        }
        .football-logo img{
           width: 320px;
           height: 63px;
    }
}

/* ---------------
    tablet devices 
    -----------------*/

    @media only screen and (min-width : 689px) and (max-width: 992px) {
       
       .top-banner{
           flex-direction: column;
           align-items: center;
           width: 1024px;
           height: 768px;
       }
       .banner-info{
           margin: 70px 0px  0px 100px;
       }
       .banner-thumbnail{
          overflow: visible;
       }
       .banner-thumbnail img {
        width: 500px;
        height: 370px;
           margin-left: 400px;
       }
       
       .players{
           display: grid;
           grid-template-columns: repeat(2,1fr);
           margin-left: 180px;
       }
       .player{
        width: 300px;
        height: 426px;
       }
       .banner{
            display: grid;
            grid-template-columns: repeat(1,1fr);
       }
       .highlight-info{
           margin-top: 0px;
       }
      .highlight-thumbnail img{
           margin-top: 0px;
           margin-left: 250px;
           
       }
       .footer-section {
           margin: 0 0 0 200px;
           display: grid;
           grid-template-columns: repeat(1, 1fr);
       }
       .social-icon,.copyright-text{
           margin-left: 200px;
       }
    }

    /* ---------------
       Large Devices
       ----------------- */
       